@import url(reset.css);

body {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition-property: background-color;
  transition-duration: 4s;
}
.gradation {
  background-color: "";
  transition: background-color 4s;
}

.upper-bar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: aliceblue;
  opacity: 0.7;
}

main #clock {
  font-weight: 600;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
  opacity: 0.7;
  font-size: 10vh;
}

main #weather {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
